body {
    background-color: #68cef7;
    color: #fdffff;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}
button {
padding: 5px 20px;
background-color: #1685cf;
border-style: none;
color: #fdffff;
}
input {
    height: 20px;
}
